<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" verbose="4" thread-count="2" parallel="tests">
    <test name="Amazon Test">
        <parameter name="url" value="https://www.google.com" />
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="mytests.GoogleTest" />
        </classes>
    </test>

    <test name="OpenCart Test">
        <parameter name="url" value="https://naveenautomationlabs.com/opencart/index.php?route=account/login" />
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="mytests.OpenCartTest" />
        </classes>
    </test>
</suite>
